body {
    background-image: url(https://pbs.twimg.com/media/FqBDcVracAI44uy?format=jpg&name=4096x4096);
    background-size: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.Container {
    width: 800px;
    margin: auto;
    background-color: #fff;
}
.header .title{
    padding: 20px;
    font-size: 40px;
    font-weight: italic;
}
.header ul li{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 20px;
    
}
.header a{
    color: slateblue;
}
.header a:hover{
    background-color: darkgray;
    color: red;
}
.header a:active{
    color: black;
}
.pict{
    height: 250px;
    background-image: url(https://pbs.twimg.com/profile_banners/1219658790913445888/1586888093/600x200);
    background-size: 100%;
    padding-left: auto;


}