body {
    background-image: url(https://pbs.twimg.com/media/FqBDcVracAI44uy?format=jpg&name=4096x4096);
    background-size: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.mid{
    background-image: url(https://pbs.twimg.com/media/Fp5efhAXwAAdl4q?format=jpg&name=small);
    background-size: 100%;
    padding: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto ;
}